<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>Livresmoi.direct - {{ title }}</title>
    {% else %}
        <title>Livresmoi.direct - Accueil</title>
    {% endif %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {% block additional_css %}{% endblock %}
</head>
<body>
<div class="container">  <!-- Debut container-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            <li class="active"> <a href="/">Accueil</a> </li>
            <li><a href="/company/about">A propos de nous</a></li>
            <li><a href="/company/contact">Nous contacter</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</div> <!-- Fin container-->
<!-- Jquery -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% block additional_js %}{% endblock %}
</body>
</html>
